<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.qb.store.mapper.UserMapper">
	<!-- 插入一条新的用户数据 -->
	<!-- Integer addNew(User user) -->
	<insert id="addNew" parameterType="cn.qb.store.entity.User" useGeneratedKeys="true" keyProperty="id">
		insert into qb_user(
			username,password,salt,
			gender,phone,email,
			avatar,create_user,create_time,
			modified_user,modified_time
		) values(
			#{username},#{password},#{salt},
			#{gender},#{phone},#{email},
			#{avatar},#{createUser},#{createTime},
			#{modifiedUser},#{modifiedTime}
		)
	</insert>
	
	<!-- 根据id修改用户密码，以及相关日志信息 -->
	<!-- Integer updatePassword(@Param("password")String password,@Param("salt")String salt,@Param("modifiedUser")String modifiedUser,@Param("modifiedTime")Date modifiedTime); -->
	<update id="updatePassword">
		update
			qb_user
		set
			password=#{password},
			modified_user=#{modifiedUser},modified_time=#{modifiedTime}
		where
			id=#{id}
	</update>
	
	<!-- 根据用户名查找对应数据 -->
	<!-- User findByUsername(String username); -->
	<select id="findByUsername" resultType="cn.qb.store.entity.User">
		select
			id,username,password,salt,is_delete isDelete,avatar
		from
			qb_user
		where
			username=#{username}
	</select>
	
	<!-- 根据用户ID修改用户信息 -->
	<!-- Integer updateUserInfo(User user); -->
	<update id="updateUserInfo">
		update
			qb_user
		set
			<if test="gender != null">
				gender=#{gender},
			</if>
			<if test="phone != null">
				phone=#{phone},
			</if>
			<if test="email != null">
				email=#{email},
			</if>
			modified_user=#{modifiedUser},
			modified_time=#{modifiedTime}
		where
			id=#{id}
	</update>
	
	<!-- 根据用户id查找用户数据 -->
	<!-- User findById(Integer id); -->
	<select id="findById" resultType="cn.qb.store.entity.User">
		select
			username,salt,password,is_delete isDelete,gender,phone,email,avatar
		from
			qb_user
		where
			id=#{id}
	</select>
	
	<!-- 根据用户id修改头像 -->
	<!-- Integer updateAvatar(@Param("id")Integer id,@Param("avatar")String avatar,@Param("modifiedUser")String modifiedUser,@Param("modifiedTime")Date modifiedTime); -->
	<update id="updateAvatar">
		update
			qb_user
		set
			avatar=#{avatar},
			modified_user=#{modifiedUser},
			modified_time=#{modifiedTime}
		where
			id=#{id}
	</update>
</mapper>